<!DOCTYPE html>
{% load static %}
{% include 'app/navbar.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/event_list.css' %}">
    <title>Services</title>
</head>
<body>

<div class="container">
    <div class="service-wrapper">
        <h1> Volunteer Registration</h1>
        <img src="{% static '/images/cleanup1.jpg' %}" alt="volunteerregistration" />
        <button class="open-modal-button" id="open-modal">Fill Up Registration</button>
    </div>
</div>

<!-- Modal -->
<div id="volunteerregistration-modal" class="modal">
    <div class="modal-content">
        <p>Let's Volunteer</p>
        <button class="add-button" onclick="window.location.href='{% url 'add_volunteerregistration' %}'">Add</button>
    </div>
</div>

<script>
    // Open the modal when the button is clicked
    document.getElementById('open-modal').addEventListener('click', function() {
        document.getElementById('volunteerregistration-modal').style.display = 'flex';
    });
</script>

</body>
</html>
